 .inter-text {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }





  
   #mobile-dropdown {
      transition: all 0.3s ease;
    }






 #mobile-menu {
   transition: max-height 0.3s ease-out;
   max-height: 0;
   overflow: hidden;
 }

 #mobile-menu:not(.hidden) {
   max-height: calc(100vh - 90px);
   overflow-y: auto;
 } 



 .rotate-180 {
   transform: rotate(180deg);
 }





